# SERVER
PORT=3000
NODE_ENV=development

# SAP SERVICE LAYER MANAGER
SAP_URL=https://localhost:50000/b1s/v1
SAP_COMPANY_DB=SBODEMO
SAP_USERNAME=manager
SAP_PASSWORD=1234

# SAP HANA DB
HANA_SERVER=192.168.1.1
HANA_PORT=30015
HANA_USER_NAME=your_username
HANA_PASSWORD=your_password
HANA_DATABASE_NAME=your_database_name
HANA_SCHEMA=your_schema_name

# SSL
IGNORE_SSL=true

# Default Series for Stock Transfers
NroSerieTSPorDefecto=95